<%- include("./partials/header") %>

<div class="container section skills" id="skills">
	<div class="container">
		<div class="row">
			<div class="col px-0">
		
			<h1>Main Skills</h1>
			<p id="skillsicons">
				<i class="fab fa-html5"></i>
				<i class="fab fa-css3-alt"></i>
				<i class="fab fa-bootstrap"></i>
				<i class="fab fa-js-square"></i>
				<i class="fab fa-node-js"></i>
				<i class="fab fa-github"></i>
			</p>


			<h2>This website was built using the following technologies:</h2>
				<p>
						<li><span>Bootstrap 4 </span>– To make it responsive thanks to its grid system and to decorate it. Feel free to check this website on your phone!</li>
						<li><span>jQuery and typed.js </span>– To animate it, like the heading in the homepage</li>
						<li><span>NodeJS and Express </span>– To build the RESTful Routes and backend</li>
						<li><span>GitHub and GitFlow </span>– To keep track of my changes and release them often, whenever a new stable version was ready <a href="https://github.com/natsanchezs/(cover-letter)"></a></li>
						<li><span>Heroku </span>– To deploy and host it</li>
				</p>
		

			<!-- <br>
			<p>
				<li class="fa fa-html5"></li>
				<span>HTML</span>
			</p>
			
				<br>

			<i class="fa fa-html5"></i>
 -->
		
			</div>
		</div>
	</div>
</div>


<%- include("./partials/footer") %>
