<%- include("./partials/header") %>

<div class="container section skills" id="skills">
	<div class="container">
		<div class="row">
			<div class="col px-0">
		
			<h1>Main Skills</h1>
			<p id="skillsicons">
				<i class="fab fa-html5"></i>
				<i class="fab fa-css3-alt"></i>
				<i class="fab fa-bootstrap"></i>
				<i class="fab fa-js-square"></i>
				<i class="fab fa-node-js"></i>
				<i class="fab fa-github"></i>
			</p>


			<!-- <br>
			<p>
				<li class="fa fa-html5"></li>
				<span>HTML</span>
			</p>
			
				<br>

			<i class="fa fa-html5"></i>
 -->
		
			</div>
		</div>
	</div>
</div>


<%- include("./partials/footer") %>
