<%- include("./partials/header") %>

<div class="container section skills" id="skills">
	<div class="container">
		<div class="row">
			<h1>Main Skills</h1>

			<p>Nullam et dolor ornare, dictum sem vel, venenatis quam. Nunc et pretium velit, sed tincidunt libero. Fusce vulputate leo neque, et finibus libero malesuada id. Suspendisse tincidunt arcu et sapien varius, eget ornare magna rutrum. Mauris pharetra vitae neque eu vulputate. Donec aliquet bibendum neque at maximus.</p>
		</div>
	</div>
</div>


<%- include("./partials/footer") %>
