#home {
    margin-top: 93px;
    margin-bottom: 40px;
}

#contact a {
	text-decoration: none;
   	font-size: 1rem;
    color: black;
    padding: 10px;
    margin-top: 100px;
}

#contact h2 {
    font-size: 1.5rem;
    color: black;
}
#contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1rem;
    padding: 2rem;
    width: 100%;
    background-color: #E5E5E5;

}
    
.navbar-light .navbar-nav .nav-link:hover {
    background-color: #E5E5E5;
    border-radius: 5px;
}

footer {
    background-color: #E5E5E5;
}

html, body {
  height: 100%;
  margin: 0;
}
.footer,
.push {
  height: 173px;
}

body {
    background: #B39BC8;
    font-family: "Roboto", sans-serif;
    color: #F0EBF4;
    font-weight: 500;
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
   /* position: relative;*/
    min-height: 100%;
    margin-bottom: -189px;
    margin-left: -26px;
}


.bg-light {
    background-color: #F172A1 !important;
    font-weight: 500;
}

.container.menu {    
    margin-bottom: 70px;
}

.navbar-brand {
   /* margin-left: 15px;*/
	/*margin-left: 75px;*/
	font-size: 1.3rem;
    text-transform: uppercase;
    color: #99378C;
}


.navbar-light .navbar-brand {
    color: #99378c;
}

.navbar-light .navbar-nav .nav-link {
    color: #99378c;
}
.navbar.scrolled {
    background: #A1C3D1 !important;
    transition: background 500ms;
}

#navbarSupportedContent {
	margin-right: 75px;
}


#gif {
	text-align: right;
}

#wannabe {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {   
    margin-left: 2px;
}

#typed {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.25;
    
}


#law {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
}

img {
    width: 59%;
    border-radius: 10px;
}

a {
    color: inherit; 
    text-decoration: inherit; 
  }
a:hover {
    color: inherit;
    text-decoration: inherit; 
}