#home {
    margin-top: 93px;
    margin-bottom: 40px;
}

#contact a {
	text-decoration: none;
   	font-size: 1rem;
    color: black;
    padding: 10px;
    margin-top: 100px;
}

#contact h2 {
    font-size: 1.5rem;
}
#contact {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 1rem;
    padding: 2rem;
    width: 100%;
    background-color: #E5E5E5;

}
    


footer {
     background-color: #E5E5E5;
     position: absolute;
     /*bottom:0;*/
     width:100%;
     /*height:60px;    Height of the footer */
}

body {
    background: #F8F8F8;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    height: 100%;
    position: relative;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}


.bg-light {
    background-color: #F8F8F8 !important;
}

.container.menu {    
    margin-bottom: 70px;
}

.navbar-brand {
	margin-left: 75px;
	font-weight: 300;
	font-size: 1.3rem;
}

.navbar.scrolled {
    background: #E5E5E5 !important;
    transition: background 500ms;
}

#navbarSupportedContent {
	margin-right: 75px;
}


#gif {
	text-align: right;
}

#wannabe {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#typed {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.25;
}


#law {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
}

img {
    width: 70%;
}