#about {
    padding-right: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#skills {
    padding-right: 23px;
    padding-top: 25px;
    padding-bottom: 25px;
}

p i {
	font-size: 50px;
	margin-right: 3rem;
}

#skillsicons {
	margin-bottom: 5rem;
	margin-top: 5rem;
	text-align: center;
}

